@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root,
[data-theme] {
  background: hsl(var(--b2));
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

p {
  margin: 1rem 0;
}

.btn {
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
}

.goalsListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  position: relative;
}

.goalCard {
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  max-width: 480px;
  width: 100%;
  flex: 0 0 auto;
}

.goalTitle {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.goalData {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.divider {
  margin: 1.5rem 0;
  border-color: rgba(0, 0, 0, 0.1);
  border-style: solid;
}



.quote::before {
  content: '“';
}

.quote::after {
  content: '”';
}